table{
    border-collapse: collapse;
}

th, td{
    border: 1px solid black;
    padding: 5px;
}

.nota{
    text-align: center;
}

.total{
    text-align: left;
}

.trHead{
    background-color: gray;
    color: white;
}